<% if @product.has_variants? %>
<div id="product-variants">
	<% @product.grouped_option_values.each do |type, values| %>
	<h2 class="variant-option-type"><%= type.presentation %></h2>

	<div class="variants-buttons ui-buttonset btn-group" data-toggle="buttons-radio">
		<% has_checked = false
		values.sort_by(&:position).each do |value| %>
		<% unless (variants = @product.variants_for_option_value(value)).empty? %>
		<% variants.each do |v|
		next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])
		checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
		price = v.price_in(current_currency).display_price
		has_checked = true if checked %>
		<button type="button" class="btn btn-primary" name="products[<%=@product.id%>]" data-price="<%=price%>"><%= value.presentation %></button>

		<% end %>
		<% end %>
		<% end %>
	</div>
	<% end %>
</div>
<% end%>