<% if @product.has_variants? %>
<div id="product-variants">
	<% @product.grouped_option_values.each do |type, values| %>
	<h4 class="variant-option-type"><%= type.presentation %></h4>

	<div class="" data-toggle="buttons-radio">
		<% has_checked = false
		values.sort_by(&:position).each do |value| %>
		<% unless (variants = @product.variants_for_option_value(value)).empty? %>
		<% variants.each do |v|
		next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])
		checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
		price = v.price_in(current_currency).display_price
		has_checked = true if checked %>
		<div class="variant-options">
			<div class="variant-description">
				<%= value.presentation %>
			</div>
			<div class="variant-price">
				<%= price %>
			</div>
			<div class="variant-quantity">
				<%= number_field_tag "variants[#{v.id}]" , 0, :class => 'title', :in => 0..@product.on_hand, :min => 0 %>
			</div>
		</div>
		<% end %>
		<% end %>
		<% end %>
	</div>
	<% end %>
	<input type="hidden" name="is_private" value="0" />
</div>
<script type="text/javascript">
		$(function() {
	$('button[data-toggle-name]').each(function() {
	var button = $(this);
	var form = button.parents('form').eq(0);
	var name = button.attr('data-toggle-name');
	var hidden = $('#' + name, form);
	button.click(function() {
	hidden.prop("checked", "true"checked");
	});
	});
	});</script>

<% end%>