// spree_core

#main-image, .product-image {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.order-summary, #cart-detail {
  @extend .table;
}

footer#footer {
  border: none;
}

#footer {
  background-color: $bodyBackground;
  padding-top: 15px;
}

#footer a {
  color: $beigeDark;
  &:hover {
    color: $linkColorHover;
  }  
}

span.required {
    color: $red;
    font-weight: bold;
    font-size: 1.2em;
}

#order .row {
  margin: 0px;
}

ul#products.thumbnails li div.thumbnail{
	min-height: 425px;
}

ul.taxons-list {
	list-style-type: none;
}

form#new_product, form.edit_product {
	@extend .form-horizontal;
}
// spree_address_book

// spree_auth_devise

#existing-customer, #new-customer, #forgot-password {
  @extend .well;
}

#new-customer h6, #existing-customer h6, #forgot-password h6{
  @extend legend;
}

.new_spree_user, .existing_spree_user {
  @extend .form-horizontal;
}

#user-info {
  @extend .well;
}

// spree_contact_us

#contact_form {
  @extend .well;
}
#contact_form input[type="text"], #contact_from select, #contact_form textarea {
  @extend .input-xlarge;
}
// spree_social_products

#social_nav {
  height: 80px;
  padding-top: 15px
}
#social_nav ul {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
#social_nav ul li {
  float: left;
  padding: 5px 0 0 0;
  margin-right: 10px;
  list-style-type: none;
}
#social_nav ul li a {
  padding: 4px 5px 0 0;
  height: 32px;
  text-decoration: none;
  line-height: 1.45em;
}
.reddit img {
  padding-top: 3px;
}
// cart 
#inside-product-cart-form {
  background: $beigeLight;
  padding: 10px;
  margin: 0px;
  border-left: 1px solid #CCCCCC !important;
  border-right: 1px solid #CCCCCC !important;
  border-bottom: 1px solid #CCCCCC !important;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
#cart-form .cart-header{
  padding: 5px 10px 5px 10px;
  text-align: center;
  color: white;
  background: $brownMedium;
  border: 1px solid #CCCCCC !important;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
}

.variant-options {
  width: 100%;
  margin-bottom: 5px;
  vertical-align: middle;
}
.variant-description {
  float: left;
  font-weight: bold;
  width: 50%;
  color: $mainBrandColor;
}
.variant-price {
  float: left;
  font-weight: bold;
  width: 20%;
  text-align: right;
  
}
.variant-quantity  {
  float: left;
  width: 20%;
  padding-left: 15px;
}
.variant-quantity input {
  width: 40px;
}

/*
 *= require store/spree_core
*/
#new-star img {
  float: left;
}

#reviews {
  background-color: $beigeLight;
  border: 1px solid #CCCCCC !important;
  padding: 10px;
  border-radius: 0.5em;
}
#reviewModal {
  background-color: $beigeLight;
}

#reviews h6 {
  font-size: 16pt;
  margin: 0px;
}

#reviews div.header {
  font-size: 12pt;
  font-weight: bold;
  border-bottom: 1px #2222aa dashed;
  margin-top: 10px;
  margin-bottom: 10px;
}

#reviews div.review {
  border-bottom: 1px #2222aa dashed;
  margin-bottom: 10px;
}

#reviews div.review span.title {
  font-size: 11pt;
  font-weight: bold;
}

#reviews div.review span.attribution {
  font-size: 8pt;
}
.ratings p {
  font-size: 12px;
  margin: 5px;
}
.button-review, .cancel-review {
  color: #C2C2C2;
  text-decoration: none;
}
.button-review:hover, .cancel-review:hover {
  text-decoration: underline;
}

#new_review h6 {
  font-size: 10pt;
  margin: 0px;
  padding: 5px 3px;
}

#new_review .review_name_field {
  font-size: 12px;
  margin-top: 5px;
}
#new_review p {
  margin-top: 5px;
  margin-bottom: 0px;
}

#new_review .review_name_field input {
  width: 200px;
  height: 28px;
  padding: 1px;
  margin-bottom: 14px;
}

#new_review .review_review_field textarea {
  width: 200px;
  height: 80px;
  padding: 1px;
}

.review-submit {
  @extend .btn;
  @extend .btn-primary;
}
.review .author {
  float: left;
}

.right {
  float: right !important;
}

.single_rating {
  margin-right: 3px;
}

.single_rating.rate {
  width: 100%;
}

.review .single_rating, .review .average {
  float: left;
  margin-left: 5px;
}

.lit {
  background-color: #aaaaaa;
  color: #0000bb;
  margin-right: 1px;
  padding-left: 1px;
}

.unlit {
  background-color: #aaaaaa;
  color: #000000;
  margin-right: 1px;
  padding-left: 1px;
}

.star-rating-control {
  display: inline-block;
  height: 15px;
}

.review_hr {
  size: 1px;
  background: silver;
  border: none;
  margin: 1em 0;
}

.s_bgmsg_red {
  color: #84290A;
  background-color: #FFE7DF !important;
  width: 320px;
  padding: 5px;
}

.s_bgmsg_green {
  color: #468847;
  background-color: #D6E9C6 !important;
  width: 320px;
  padding: 5px;
}
