// spree_core

#main-image, .product-image {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.order-summary, #cart-detail {
  @extend .table;
}

footer#footer {
  border: none;
}

#footer {
  background-color: $bodyBackground;
  padding-top: 15px;
}

#footer a {
  color: $beigeDark;
  &:hover {
    color: $linkColorHover;
  }  
}

span.required {
    color: $red;
    font-weight: bold;
    font-size: 1.2em;
}

#order .row {
  margin: 0px;
}

ul#products.thumbnails li div.thumbnail{
	min-height: 425px;
}

ul.taxons-list {
	list-style-type: none;
}

form#new_product, form.edit_product {
	@extend .form-horizontal;
}
// spree_address_book

// spree_auth_devise

#existing-customer, #new-customer, #forgot-password {
  @extend .well;
}

#new-customer h6, #existing-customer h6, #forgot-password h6{
  @extend legend;
}

.new_spree_user, .existing_spree_user {
  @extend .form-horizontal;
}

#user-info {
  @extend .well;
}

// spree_contact_us

#contact_form {
  @extend .well;
}
#contact_form input[type="text"], #contact_from select, #contact_form textarea {
  @extend .input-xlarge;
}
// spree_social_products

#social_nav {
  height: 80px;
  padding-top: 15px
}
#social_nav ul {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
#social_nav ul li {
  float: left;
  padding: 5px 0 0 0;
  margin-right: 10px;
  list-style-type: none;
}
#social_nav ul li a {
  padding: 4px 5px 0 0;
  height: 32px;
  text-decoration: none;
  line-height: 1.45em;
}
.reddit img {
  padding-top: 3px;
}
// cart 
#inside-product-cart-form {
  background: $beigeLight;
  padding: 10px;
  margin: 0px;
  border-left: 1px solid #CCCCCC !important;
  border-right: 1px solid #CCCCCC !important;
  border-bottom: 1px solid #CCCCCC !important;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
#cart-form .cart-header{
  padding: 5px 10px 5px 10px;
  text-align: center;
  color: white;
  background: $brownMedium;
  border: 1px solid #CCCCCC !important;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
}

.variant-options {
  width: 100%;
  margin-bottom: 5px;
  vertical-align: middle;
}
.variant-description {
  float: left;
  font-weight: bold;
  width: 50%;
  color: $mainBrandColor;
}
.variant-price {
  float: left;
  font-weight: bold;
  width: 20%;
  text-align: right;
  
}
.variant-quantity  {
  float: left;
  width: 20%;
  padding-left: 15px;
}
.variant-quantity input {
  width: 40px;
}
