<%= render :partial => 'spree/admin/shared/web_contents_menu' %>

<% content_for :page_title do %>
  <%= t(:sweepstake) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:new_sweepstake), spree.new_admin_sweepstake_url, :icon => 'icon-plus', :id => 'new_admin_sweepstake_link' %></p>
  </li>
<% end %>

<div id='new-admin-sweepstake-list' data-hook>
  <%= render :partial => 'list' %>
</div>