<% content_for :subheader do %>
<div class='category-header'>
	<img src="/assets/store/category-headers/categories-<%= @taxon.permalink.split("/").second %>.jpg" alt="<%= @taxon.name %>" width="100%" %>
</div>
<% end %>
