<% if @top_promo != nil and @top_promo.any? %>
<div class="span16">
	<div class="top-promo">
		<div id="home-slider" class="carousel top-promo-slider">
			<div class="carousel-inner">
				<% @top_promo.each_with_index do |slider, i| %>
				<div class="<%= i == 0 ? 'active' : '' %> item">
					<%= slider.html.html_safe %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% end %>
<% if @bottom_promo != nil and @bottom_promo.any? %>
<div class="span16">
	<% @bottom_promo.each do |promo| %>
	<div class="bottom-promo">
		<%= promo.html.html_safe %>
	</div>
	<% end %>
</div>
<% end %>
<%= render :partial=> 'spree/sweepstakes/home_div' %>

