<% if @home_page_sliders %>
<div class="top-promo">
	<div class="container" >
		<div class="row">
			<div id="home-slider" class="carousel top-promo-slider " style="margin-top: -20px;">
				<div class="carousel-inner">
					<% @home_page_sliders.each_with_index do |slider, i| %>
					<div class="<%= i == 0 ? 'active' : '' %> item">
						<%= slider.html.html_safe %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bottom-promo">
	<div class="container">
		<div class="row">
			<div class="span4 center-align">
				<img src="https://s3.amazonaws.com/uniqteas/images/ads/promo-01.jpg">
				<br />
				Honey Tea Recipes
			</div>
			<div class="span3 center-align">
				<img src="https://s3.amazonaws.com/uniqteas/images/ads/promo-02.jpg">
				<br />
				Amazing Iced Teas
			</div>
			<div class="span4 center-align">
				<img src="https://s3.amazonaws.com/uniqteas/images/ads/promo-03.jpg">
				<br />
				Mint Tea on a Hot Day
			</div>
		</div>
	</div>
</div>
<% end %>

